html, body, .container-fluid
{
    /* Height of these elements */
    height: 100%;

    /* No margin around these elements */
    margin: 0;

    /* Disable scrollbars */
    /* overflow: hidden; */

    /* No padding within these elements */
    padding: 0;
}

.success
{
    color: green;
}

.warning
{
    color: red;
}

nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* Stylize text box */
#q
{
    /* Override typeahead.js's transparent background */
    background-color: #ffffff !important;

    /* Text box's width */
    width: 300px;
}

main
{
    /* scroll horizontally as needed */
    overflow: auto;

    height: 100%;

    /* left-align contents */
    text-align: left;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

.tt-menu
{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 1px;
    max-height: 150px;
    overflow-y: auto;
    width: 300px;
}
.tt-suggestion.tt-cursor {
    background-color: #0097cf;
    color: #fff;
    cursor: pointer;
}
.tt-suggestion {
    margin: 0;
    padding: 6px 12px;
}