{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1>Compiled Allergen Information</h1>
    <p>
        Thank you for visiting my website! To give you a little background, I'm extremely lactose intolerant (as is my wife),
        and I was recently informed that I have a peanut allergy (though it's not life threatening). As you can imagine, eating out
        is not as easy for me and my wife as it is for many other people, as we are always concerned that we may eat something that
        disagrees with us and makes the entire experience highly unpleasant. I've discovered that many chain restaurants (and some
        smaller ones) post allergen guides on their websites. While this is extremely helpful, they're often difficult to find. Since
        I'm sure there are others out there who would like easier access  to this sort of information, I've decided to keep a compiled
        list of where to find various restaurants' allergen guides. Please feel free to browse at your leisure, and I hope you find this
        website useful!
    </p>

    <h2>Instructions</h2>
    <p>
        Use the bar above to navigate this website. If you'd like to view the allergen guides which I have catalogued thus far, you
        may visit the "search" page above. There, you can either type the name of a restaurant to see if I have entered its information,
        or you may select from a drop-down list. If you would instead like to request that I enter the information for another
        restaurant, click "request" and fill out the form. Finally, if you would like to contact me (whether to request that I add a
        feature to the website, to make a recommendation to improve the user experience, to request that I take down a listing,
        or simply to tell me what a great job I'm doing), simply click "contact" above and send me a message. Thank you!
    </p>
    <br>
    <br>
    <h4>Disclaimers</h4>
    <ul>
        <li>
            Because I do not work for any of these restaurants, and because many of them are local to areas where I do not live, I am
            unable to verify the accuracy of these allergen guides. If you have a food intolerance or allergy (especially a life-threatening
            one), please do your own research and ask for further information from the restaurants themselves.
        </li>
        <li>
            I do not claim ownership or copyright of any material drawn from other companies and websites. If for any reason you
            or your company would like me to take down a link to your allergen guide, please contact me via the "contact" page.
        </li>
    </ul>
{% endblock %}